* {
  --background: #202020;
  --background-alt: #303030;
  --foreground: #ECECEC;
  --grey: #666666;
  --dark-grey: #2E2E2E;
  --editor-grey: #242424;
  --blue: #2773EC;
  --red: #EC2727;
  --mustard: #F1B11B;
  --pink: #FF13A1;
  --purple: #C100E5;
  --seafoam: #00E194;
  --green: #07C900;
  --black: #000000;
}
